.button {
    background-color:#590505 ;
    border-radius: 12px;
    color: white;
    padding: 10px 10px ;
    text-align: center;
    text-decoration: none;
  }
.button:hover {
  width: 190px;
  height: 65px;
  background-color: #A60808;
}
.container {
    height: 8px;
    background-color: #590505;
    position: relative;
}
.container .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #A60808;

}
.marcador{
    padding-left:97%; 
    position: absolute;
}
.skill{
    padding-left: 15px;
    margin: 20px;
    padding-top: 4px;
    width: 90%;
    font-family: "Courier New", monospace;
}
a{
    font-size:32px;
}
h1,h2{
    text-align: center;  
  }
.icon{
    font-size:20px; 
    padding-top: 10px;
}
.inline {
    display: inline-block;
    margin: 15px;
    padding-left: 15px;
  }
.contatoDecoration{
    font-family: "Lucida Console", monospace;
    font-size:15px;
}
.decoration2{
    background-color:#A8A2A2;
}
img{
    margin: auto;
    display: block;
    border-radius: 10px; 
}
.decoration{
    background-color:#0B1726; 
    width:35%;
    font-family: "Lucida Console", monospace;
}
.w3-card{
    background-color: #3C5473;
}
.left {
    float: left;
    width: 300px;
    padding-left: 15px;
    margin: 20px;
  }
